body{
    background: #cce6ff;
  }
  .container{
    max-width: 600px;
  }

  .disabled{
    pointer-events:none;
    background:rgb(0,0,0,0.5);
  }

  .enabled{
    pointer-events:auto;
  }

  .far{
    padding-left:16px;
  } 

  input[type=text],
  input[type=text]:focus{
    color: rgb(41, 41, 41);
    border: none;
    background: #D3D3D3;
    max-width: 600px;
  }

  .todos li{
    background: #66ccff;
  }

  .list-group-item{
    background: #005580;
  }

  .list-group-item:hover{
    background: #0077b3;
  }

  .filter-out{
   display:none !important;
  }

  .hide{
    display:none !important;
   }

  .starred{
    background: #ffcc00 !important;
    color: #000 !important;
   }

   .starred:hover{
    background: #ffd633 !important;
    color: #000 !important;
   }

   .delete{
    cursor: pointer;
  }

  .add{
    margin-top: 10px;
  }

  .btn{
    margin-top:10px;
    margin-left: 10px;
    float: right;
  }

  .badge{
    margin-left:20px;
  }

  .margin-hidden{
    display:none !important;
  }


  .flex-fill{
    padding-left:25px;
  }

  .highlight{
    background: #0077b3 !important;
    color:white !important;
   }

   .highlight-dark{
    background: #003300 !important;
   }

   .highlight-edit{
    background: #f2e6ff !important;
    color: #000000 !important;
   }


   .fas{
    float:right;
   }

   .fas:hover{
    transform: scale(1.4);
    transition: transform .3s; /* Animation */
   }

   .form-check{
    margin-top:10px;
    margin-left:10px;
   }

   .new-task{
    margin-bottom:30px;
   }

  .searchbox{
    background:white !important;
  }

  .disabled{
    background: #696969;
  }